# REQUIRED if you're self-hosting
ALLOW_NEW_ACCOUNTS=true # setting this to false disallows new sign ups
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
SECRET_KEY_BASE= # Generate key with `rails secret`


# OPTIONAL if you're self-hosting (can be left out)
DATABASE_URL= # required if you're running Fugu without docker-compose in production
SENTRY_DSN=
RAILS_LOG_TO_STDOUT=true # if you want to log errors in server logs
DATABASE_NAME_TEST= # only needed if you are running automated tests during development