<%# Only needed by Fugu Cloud %>

<h2>Support</h2>
<p class="mb-4">
  Thanks for being an early Fugu user ❤️
  Contact me if you have questions or need help: canolcer@hey.com or
  <a href="https://twitter.com/canolcer" targt="_blank">@canolcer</a>.
</p>
