<div data-controller="chart"
      data-chart-dates-value="<%= dates.to_json %>"
      data-chart-events-value="<%= events.to_json %>"
      data-chart-event-name-value="<%= selected_event.titleize %>"
      data-chart-agg-value="<%= @aggregation %>"
      class="p-4 w-full rounded-md shadow-md bg-yellow-50 h-28rem"
>
  <canvas data-chart-target="chart" class="h-full pt-4"></canvas>
</div>