<footer class="bg-green-100 mt-auto text-gray-600">
  <div class="flex flex-row items-center justify-between p-6 w-full">
    <div>
      Fugu is 100% self-funded, independent and hosted in the EU.
      By <a href="https://twitter.com/canolcer" target="_blank">@canolcer</a>.
    </div>
    <div class="flex flex-row items-center justify-center">
      <a href="https://fugu.lol" target="_blank" class="no-underline font-normal mx-2">About</a>
      <a href="https://github.com/shafy/fugu#docs" target="_blank" class="no-underline font-normal mx-2">Docs</a>
      <a href="https://github.com/shafy/fugu" target="_blank" class="no-underline font-normal mx-2">GitHub</a>
      <a href="https://fugu.lol/legal/terms" class="no-underline font-normal mx-2" target="_blank">Terms</a>
      <a href="https://fugu.lol/legal/privacy" class="no-underline font-normal mx-2" target="_blank">Privacy</a>
      <a href="https://fugu.lol/legal/dpa" class="no-underline font-normal mx-2" target="_blank">DPA</a>
      <a href="https://fugu.lol/legal/imprint" class="no-underline font-normal mx-2" target="_blank">Imprint</a>
    </div>
  </div>
</footer>