<footer class="bg-green-100 mt-auto text-gray-600">
  <div class="flex flex-col md:flex-row items-center justify-between p-6 w-full gap-y-4 md:gap-y-0">
    <div class="text-center md:text-left">
      Fugu is 100% self-funded, independent and hosted in the EU.
      By <a href="https://twitter.com/canolcer" target="_blank">@canolcer</a>.
    </div>
    <div class="flex flex-wrap max-w-full items-center justify-center gap-x-4">
      <a href="https://fugu.lol" target="_blank" class="no-underline font-normal">About</a>
      <a href="https://docs.fugu.lol" target="_blank" class="no-underline font-normal">Docs</a>
      <a href="https://github.com/shafy/fugu" target="_blank" class="no-underline font-normal">GitHub</a>
      <a href="https://fugu.lol/legal/terms" class="no-underline font-normal" target="_blank">Terms</a>
      <a href="https://fugu.lol/legal/privacy" class="no-underline font-normal" target="_blank">Privacy</a>
      <a href="https://fugu.lol/legal/dpa" class="no-underline font-normal" target="_blank">DPA</a>
      <a href="https://fugu.lol/legal/imprint" class="no-underline font-normal" target="_blank">Imprint</a>
    </div>
  </div>
</footer>