<header class="bg-green-100 shadow-sm">
  <div class="flex flex-row items-center justify-between p-4 w-full">
    <div class="w-10">
      <a href="/" class="no-underline"><%= image_tag "fugu_logo.png" %></a>
    </div>
    <div>
      <% if current_user %>
        <a href="https://docs.fugu.lol" target="_blank" class="no-underline mx-2">Docs</a>
        <a href="<%= user_projects_path(current_user.hash_id) %>" class="no-underline mx-2">Projects</a>
        <a href="<%= users_settings_path %>" class="no-underline mx-2">Account settings</a>
      <% end %>
    </div>
  </div>
</header>