<header class="bg-green-100 shadow-sm">
  <div class="flex flex-row items-center justify-between p-4 w-full">
    <div class="w-10">
      <a href="/" class="no-underline"><%= image_tag "fugu_logo.png" %></a>
    </div>
    <div>
      <a href="<%= projects_path %>" class="no-underline mx-2">Projects</a>
      <a href="<%= users_settings_path %>" class="no-underline mx-2">Account settings</a>
    </div>
  </div>
</header>