<div class="flex flex-row items-center justify-between w-full">
  <div class="w-full text-left">
    <h1 class="text-lg font-medium mb-2"><%= project_name %></h1>
  </div>
  <div class="w-40 text-right">
    <%= link_to "Project settings", project_settings_path, class: "font-normal" %>
  </div>
</div>