<div class="flex flex-row items-center justify-between w-full mb-2">
  <div class="flex flex-row items-center justify-start w-full text-left">
    <div class="text-lg font-medium mr-6"><%= project_name %></div>
    
  </div>
  <%= link_to "Events", project_events_path(@project.name) %>
  <%= link_to "Funnels", project_funnels_path(@project.name), class: "ml-4" %>
</div>