<% content_for :main do %>
<h1 class="text-xl font-medium mb-8">Projects</h1>
  <%= render "partials/narrow_box" do %>
    <% if @projects.any? %>
      <% @projects.each do |project| %>
        <div class="mb-2">
          <%= link_to project.name, user_project_events_path(current_user.hash_id, project.name), class: "no-underline text-lg" %>
        </div>
      <% end %>
    <% else %>
      <p class="mb-2">
        Welcome to Fugu 👋 To get started, add a new project
        and track your first event by calling the Fugu API.
        Have a look at the
        <a href="https://docs.fugu.lol" target="_blank">docs</a> for more info.
      </p>
    <% end %>
    <%= link_to 'Add a new project', new_user_project_path(current_user.hash_id), class: "mt-4" %>
  <% end %>
<% end %>