<% content_for :main do %>
<h1 class="text-xl mb-4 font-medium mb-8">Projects</h1>
  <%= render "partials/narrow_box" do %>
    <% @projects.each do |project| %>
      <div class="mb-4">
        <%= link_to project.name, project_path(project.name), class: "no-underline text-lg" %>
      </div>
    <% end %>
    <%= link_to 'Add a new project', new_project_path %>
  <% end %>
<% end %>