<% content_for :main do %>
  <h1>Add a new project</h1>
  <%= form_with model: @project, url: user_projects_path do |form| %>
    <div class="mb-4 w-80">
      <div class="mb-2">
        <%= form.label :name, 'Project name' %>
      </div>
      <%= form.text_field :name, autofocus: true, required: true, class: 'rounded-lg w-full' %>
      <em class="text-sm text-gray-600">
        Project name can't include any special characters except "-".
      </em>
    </div>
    <div cass="mb-4">
      <%= form.submit 'Add', class: 'main-button' %>
    </div>
  <% end %>
<% end %>