<div
  class="flex flex-row w-full items-center justify-between"
  data-controller="selection"
>
  <div class="flex flex-row gap-x-5 items-center justify-start">
  </div>
  <div class="flex flex-row gap-x-5 items-center justify-start">
    <div class="flex flex-col items-start justify-center">
      <%= label_tag 'date_range', 'Date Range', class: "text-sm font-medium mb-2" %>
      <%= select_tag "date_range",
          raw(date_select_options(param_data, nil)),
          data: { action: "change->event#navigateToSelectUrl" },
          class: "text-sm"
      %>
    </div>
  </div>
</div>