<div
  class="flex flex-col md:flex-row w-full items-left md:items-center justify-between"
  data-controller="selection"
>
  <div class="flex flex-col md:flex-row gap-x-5 items-left md:items-center justify-start">
    <div class="flex flex-col items-start justify-center mb-2 md:mb-0">
      <%= label_tag 'funnels', 'Funnels', class: "text-sm font-medium mb-2" %>
      <%= select_tag "funnels",
          raw(funnel_select_options(param_data, funnel_names)),
          data: { action: "change->selection#navigateToSelectUrl" },
          class: "w-56 text-sm"
      %>
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-x-5 items-left md:items-center justify-start">
    <div class="flex flex-col items-start justify-center mb-2 md:mb-0">
      <%= label_tag 'date_range', 'Date Range', class: "text-sm font-medium mb-2" %>
      <%= select_tag "date_range",
          raw(date_select_options(param_data, nil, "funnel")),
          data: { action: "change->selection#navigateToSelectUrl" },
          class: "text-sm"
      %>
    </div>
  </div>
</div>