<% content_for :project_header do %>
  <%= render partial: "partials/project_header", locals: { project_name: @project.name } %>
<% end %>

<% content_for :no_data do %>
  <p>
    You haven't created any funnels for this project yet.
    <% if current_user %>
        <%# we don't want to show the rest for public projects %>
      To get started, <%= link_to "create a funnel", new_user_project_funnel_path(current_user.hash_id, @project.name, params: { test: params[:test] }) %>.<br><br>
      <% if params[:test] == "true" %>
        Did you create funnels in live mode?
        <%= link_to "Toggle live mode!", user_project_funnels_path(current_user.hash_id, @project.name) %>
      <% else %>
        Did you create funnels in test mode?
        <%= link_to "Toggle test mode!", user_project_funnels_path(current_user.hash_id, @project.name, params: { test: true }) %>
      <% end %>
    <% end %>
  </p>
<% end %>