<% content_for :project_header do %>
  <%= render partial: "partials/project_header", locals: { project_name: @project.name } %>
<% end %>

<% content_for :no_data do %>
  <p>
    You haven't created any funnels for this project yet.
    To get started, <%= link_to "create a funnel", new_project_funnel_path(@project.name, params: { test: params[:test] }) %>.<br><br>
    <% if params[:test] == "true" %>
      Did you create funnels in live mode?
      <%= link_to "Toggle live mode!", project_funnels_path(@project.name) %>
    <% else %>
      Did you create funnels in test mode?
      <%= link_to "Toggle test mode!", project_funnels_path(@project.name, params: { test: true }) %>
    <% end %>
  </p>
<% end %>