/* ...
 *= require_self
 *= require_tree .
 */

select {
  border-radius: 0.25rem;
  border-width: 2px;
  border-color: rgb(75, 85, 99);
  background-color: rgb(255, 251, 235);
}

select:focus {
  box-shadow: none;
  border-color: rgb(16, 185, 129);
}